# vi: ft=toml
{{ $devcontainer := not (empty (stat "/var/devcontainer")) -}}
[data.virt]
  container = {{ $devcontainer }}
  devcontainer = {{ $devcontainer }}
{{ if not $devcontainer -}}
[data.onepass]
  enabled = true
[data.dropbox]
  enabled = true
  symlinks-root = "/home/{{ .chezmoi.username }}/Dropbox/Machines/{{ .chezmoi.hostname }}"
{{ end -}}
