# vi: ft=toml
{{ $devcontainer := not (empty (stat "/var/devcontainer")) -}}
[virtualization]
  devcontainer = {{ $devcontainer }}
{{ if not $devcontainer -}}
[onepass]
  enabled = true
[dropbox]
  enabled = true
  symlinks-root = "/home/{{ .chezmoi.username }}/Dropbox/Machines/{{ .chezmoi.hostname }}"
{{ end -}}
