#!/bin/bash
# vi: ft=bash
{{ if .virt.container }}exit 0{{ end }}


set -eo pipefail

{{ range .onepass.files }}
if ! [[ -f {{ .write | quote }} ]]; then
  echo "Write "{{ .read | quote }}" to "{{ .write | quote }}
  mkdir -p $(dirname {{ .write | quote }})
  op read {{ .read | quote }} > {{ .write | quote }}
else
  echo {{ .write | quote }} "already exists"
fi
chmod {{ .mode }} {{ .write | quote }}
{{ end }}
