#!/bin/bash
# vi: ft=bash
{{ if .virt.container }}exit 0{{ end }}

set -eo pipefail

! [[ "{{ .onepass.enabled }}" = true ]] && exit 0

if ! $(type op >/dev/null 2>&1); then
  sudo sh -c 'apt update && apt install curl -y'
  # https://developer.1password.com/docs/cli/get-started/#install
  curl -sS https://downloads.1password.com/linux/keys/1password.asc |
    sudo gpg --dearmor --output /usr/share/keyrings/1password-archive-keyring.gpg &&
    echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/1password-archive-keyring.gpg] https://downloads.1password.com/linux/debian/$(dpkg --print-architecture) stable main" |
    sudo tee /etc/apt/sources.list.d/1password.list &&
    sudo mkdir -p /etc/debsig/policies/AC2D62742012EA22/ &&
    curl -sS https://downloads.1password.com/linux/debian/debsig/1password.pol |
    sudo tee /etc/debsig/policies/AC2D62742012EA22/1password.pol &&
    sudo mkdir -p /usr/share/debsig/keyrings/AC2D62742012EA22 &&
    curl -sS https://downloads.1password.com/linux/keys/1password.asc |
    sudo gpg --dearmor --output /usr/share/debsig/keyrings/AC2D62742012EA22/debsig.gpg &&
    sudo apt update && sudo apt install 1password-cli -y --no-install-recommends
fi

if ! [[ -f ~/.config/op/config ]]; then
  op account add
  eval $(op signin)
fi
