{{ if .components.desktop.whatsapp -}}
[Desktop Entry]
Version=1.0
Name=WhatsApp
Comment=web.whatsapp.com
Exec=brave-browser --app="https://web.whatsapp.com" --name=WhatsApp --class=WhatsApp
Terminal=false
Type=Application
Icon={{ .chezmoi.workingTree }}/assets/icons/whatsapp.png
Categories=GTK;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupNotify=true
{{ end -}}
