#!/bin/bash
# vi: ft=bash

set -eo pipefail

{{ $apt := .packages.base.apt -}}
{{ if and .virt.container .packages.container.apt }}{{ $apt = concat $apt .packages.container.apt }}{{ end -}}
{{ if and (not .virt.container) .packages.metal.apt }}{{ $apt = concat $apt .packages.metal.apt }}{{ end -}}
sudo apt update
sudo apt install -y --no-install-recommends \
{{ join " \\\n" $apt | indent 17 }}
sudo apt autoremove -y
sudo apt clean

{{ $snap := .packages.base.snap -}}
{{ if and .virt.container .packages.container.snap }}{{ $snap = concat $snap .packages.container.snap }}{{ end -}}
{{ if and (not .virt.container) .packages.metal.snap }}{{ $snap = concat $snap .packages.metal.snap }}{{ end -}}
{{ range $snap -}}
sudo snap install {{ .name | quote }}{{ with .opts }} {{ . }}{{ end }}
{{ end -}} 
