#!/bin/bash
# vi: ft=bash

set -eo pipefail

https://docs.docker.com/engine/install/ubuntu/#install-using-the-repository
if $(type docker >/dev/null 2>&1); then
  exit 0
fi

# Add Docker's official GPG key:
sudo install -m 0755 -d /etc/apt/keyrings
sudo curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
sudo chmod a+r /etc/apt/keyrings/docker.asc

# Add the repository to Apt sources:
echo \
  "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu \
  $(. /etc/os-release && echo "${UBUNTU_CODENAME:-$VERSION_CODENAME}") stable" | \
  sudo tee /etc/apt/sources.list.d/docker.list > /dev/null

# Install the package
sudo apt update
sudo apt install docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin -y --no-install-recommends

# Non root access https://docs.docker.com/engine/install/linux-postinstall/#manage-docker-as-a-non-root-user
if ! $(getent group docker >/dev/null 2>&1); then
  sudo groupadd docker
fi
if ! $(groups "{{ .chezmoi.username }}" | grep -q docker); then
  sudo usermod -aG docker "{{ .chezmoi.username }}"
  newgrp docker
fi
